<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <link rel="icon" href="../public/images/favicon.png" type="image/gif" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Skinvogue</title>

  <head>
    <!-- ... (your head content) ... -->
    <!-- Add Font Awesome CDN link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-pzZ5e6i8CkpLdJruPO3NDSBrJzI48qUZzFBU5i+5ej9vkmKKg/1Z6SVe1DwqXPgcbuCaRuDkSTTz5jlv0h4gCg=="
        crossorigin="anonymous" />
</head>


  

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" />
  <!-- font awesome style -->
  <link href="/stylesheets/font-awesome.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/stylesheets/style.css" rel="stylesheet">
  <!-- responsive style -->
  <link href="/stylesheets/responsive.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">


  <body>

    <!-- Header section -->
    <header class="header_section innerpage_header">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg custom_nav-container">
                <a class="navbar-brand" href="index.ejs">
                    <span>SKINVOGUE</span>
                </a>
                <div class="" id="">
                    <div class="custom_menu-btn">
                        <button onclick="openNav()">
                            <span class="s-1"></span>
                            <span class="s-2"></span>
                            <span class="s-3"></span>
                        </button>
                        <div id="myNav" class="overlay">
                            <div class="overlay-content">
                                <a href="/index">Home</a>
                                <a href="/shop"></i> Shop</a>
                                <!-- Add your blog link here if needed -->
                                <a href="/logout"> Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- End Header section -->


  <section class="blog_section ">
    <div class="container">
      <div class="heading_container">
        <h2>

          Latest From Blog
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="box">
            <div class="img-box">
              <img src="images/down.img2.jpg" alt="">
              <h4 class="blog_date">
                14 <br>
                July
              </h4>
            </div>
            <div class="detail-box">
              <h5>
                Harmonize the BEAUTY
              </h5>
              <p>
                Explore the latest from our skincare experts, and embark on a journey where every blog post is a step closer to unveiling your skin's true potential. Because at SKINVOGUE, we believe that informed beauty is empowered beauty. Let the exploration begin!"
              </p>
              <a href="">
                Read More
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box">
            <div class="img-box">
              <img src="images/down.img1.jpg" alt="">
              <h4 class="blog_date">
                15 <br>
                July
              </h4>
            </div>
            <div class="detail-box">
              <h5>
                SKINVOGUE Rejuvinate
              </h5>
              <p>
                Are you ready to elevate your skincare game? Join us as we decode the intricacies of self-care, providing you with practical tips and expert advice to make your beauty routine a delightful and rewarding experience
              </p>
              <a href="">
                Read More
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>





   <!-- footer section -->
   <footer class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="https://html.design/">skin vogue private limited</a>
      </p>
    </div>
  </footer>
  <!-- footer section -->

   <!-- jQery -->
   <script src="js/jquery-3.4.1.min.js"></script>
   <!-- bootstrap js -->
   <script src="js/bootstrap.js"></script>
   <!-- custom js -->
   <script src="js/custom.js"></script>
 
 </body>
 
 </html>