<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <link rel="icon" href="../public/images/favicon.png" type="image/gif" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  

  <title>Skinvogue</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" />
  <!-- font awesome style -->
  <link href="/stylesheets/font-awesome.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/stylesheets/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <!-- responsive style -->
  <link href="/stylesheets/responsive.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">


  



    <style>
        body {
            font-family: poppins;
            margin: 0;
            padding: 0;
        }

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
            background-color: #ff69b4;
            color: #fff;
        }

        .brand {
            font-weight: bold;
            display: flex;
            align-items: center;
        }

        .brand img {
            margin-right: 10px;
            height: 30px;
        }

        .navbar-links {
            display: flex;
            align-items: center;
        }

        .link {
            margin: 0 10px;
            color: #fff;
            text-decoration: none;
        }

        /* Media query for mobile screens */
        @media only screen and (max-width: 767px) {
            .navbar-links {
                display: none; /* Hide links on small screens */
            }

            .brand {
                font-size: 1.5em; /* Adjust the font size for the brand on small screens */
            }

            .custom_menu-btn {
                display: flex;
                align-items: center;
            }

            .link {
                display: none;
            }

            #myNav {
                display: none;
            }
        }
    </style>
</head>
<body>
  <!-- <audio id="audio"  controls unmuted autoplay  src="/Alessia_Cara_Beauty_is_pain_Scars_To_Your_Beautiful_Lyr___--6QSUtXI_140.mp3"></audio> -->
 

<div class="navbar">
    <div class="brand">
        <img src="/assets/img/logo.png" alt="Logo">
        <div><strong>SKINVOGUE</strong></div>
    </div>
    <div class="navbar-links">
        <a href="/" class="link">Home</a>
        <a href="/shop" class="link">Shop</a>
        <a href="/blog" class="link">Blog</a>
        <a href="#" class="link">Contact Us</a>
        <a href="/wishlist" class="link"><i class="fas fa-heart"></i></a>
        <a href="/cartdetails" class="link"><i class="fas fa-shopping-cart"></i></a>
        <a href="/userprofile" class="link"><i class="fas fa-user"></i></a>
     
    </div>
</div>



</body>
</html>
  

  <!-- header section strats -->
  <header class="header_section">
    <div class="container-fluid">
     
        <a class="navbar-brand" href="index.html">
          
        </a>
        <div class="d-lg-none" id="">

          <div class="custom_menu-btn">
            <button onclick="openNav()">
              <span class="s-1"> </span>
              <span class="s-2"> </span>
              <span class="s-3"> </span>
            </button>
            <div id="myNav" class="overlay">
              <div class="overlay-content">
                <a href="/signup">Signup</a>
                <a  href="./index.ejs">Home</a>
                <a href="/about">About</a>
                <a href="/shop">Shop</a>
                <a href="/blog">Blog</a>
                <a href="/logout">Logout</a>
              </div>
            </div>
          </div>

        </div>
      </nav>
    </div>
  </header>
  <!-- end header section -->

  <!-- slider section -->
  <section class="slider_section position-relative">
    <div class="slider_bg_box">
      <img src="images/banner img-1.jpg" alt="">
    </div>
    <div class="slider_bg"></div>
    <div class="container">
      <div class="col-md-9 col-lg-8">
        <div class="detail-box">
          <h1>
            The Skincare
            <br> Store
          </h1>
          <p>
            Welcome to a world where beauty meets science, and self-care is an art form. At G & P Skincare, we're on a mission to empower individuals to look and feel their best by offering a carefully curated selection of premium skincare products delivered right to your doorstep. Our ecommerce platform is your gateway to a skincare revolution, providing everything you need for a flawless complexion, radiant glow, and the confidence that comes with it.
          </p>
          <div>
            <a href="/shop" class="slider-link">
              Shop Now
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end slider section -->

  <!-- shop section -->

  <section class="shop_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Latest Products
        </h2>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box">
            <a href="">
              <div class="img-box">
                <img src="images/aroma magic.jpg" alt="">
              </div>
              <div class="detail-box">
                <h6>
                  Aroma Magic
                </h6>
               
              </div>
              <div class="new">
                <span>
                  New
                </span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box">
            <a href="">
              <div class="img-box">
                <img src="images/Kama Ayurveda.png" alt="">
              </div>
              <div class="detail-box">
                <h6>
                  Kama Ayurveda
                </h6>
                
                </h6>
              </div>
              <div class="new">
                <span>
                  New
                </span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box">
            <a href="">
              <div class="img-box">
                <img src="images/Bioderma.png" alt="">
              </div>
              <div class="detail-box">
                <h6>
                  Bio Derma 
                </h6>
               
              </div>
              <div class="new">
                <span>
                  New
                </span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box">
            <a href="">
              <div class="img-box">
                <img src="images/Deconstruct.png" alt="">
              </div>
              <div class="detail-box">
                <h6>
                  Deconstruct
                </h6>
               
              </div>
              <div class="new">
                <span>
                  New
                </span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box">
            <a href="">
              <div class="img-box">
                <img src="images/Foxtale.png" alt="">
              </div>
              <div class="detail-box">
                <h6>
                  Foxtale
                </h6>
               
              </div>
              <div class="new">
                <span>
                  New
                </span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box">
            <a href="">
              <div class="img-box">
                <img src="images/loreal paris.jpg" alt="">
              </div>
              <div class="detail-box">
                <h6>
                  Loreal Paris
                </h6>
               
              </div>
              <div class="new">
                <span>
                  New
                </span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box">
            <a href="">
              <div class="img-box">
                <img src="images/Ponds.png" alt="">
              </div>
              <div class="detail-box">
                <h6>
                  Ponds
                </h6>
               
              </div>
              <div class="new">
                <span>
                  New
                </span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box">
            <a href="">
              <div class="img-box">
                <img src="images/The Pink Foundry.png" alt="">
              </div>
              <div class="detail-box">
                <h6>
                  Pink Foundry
                </h6>
                
              </div>
              <div class="new">
                <span>
                  New
                </span>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="btn-box">
        <a href="shop">
          Shop Now
        </a>
      </div>
    </div>
  </section>

  <!-- end shop section -->

  <!-- about section -->

  <section class="about_section  ">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="images/image2.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About Us
              </h2>
            </div>
            <p>
              Welcome to SKINVOGUE, where radiant beauty meets expert care. At SKINVOGUE, we are dedicated to unlocking the secrets to healthier, more vibrant skin, empowering you to embrace your natural beauty with confidence.

              Our mission is to provide a curated selection of premium skincare products that deliver tangible results. We believe that skincare is not just a routine but a journey towards self-love and well-being. SKINVOGUE is not just a brand; it's a commitment to excellence in skincare.
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- offer section -->

  <section class="offer_section layout_padding">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-7 px-0">
          <div class="box offer-box1">
            <img src="images/aboutimg (1).jpg" alt="">
            <div class="detail-box">
              <h2>
                Upto 15% Off
              </h2>
              <a href="">
                Shop Now
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-5 px-0">
          <div class="box offer-box2">
            <img src="images/aboutimg (3).jpg" alt="">
            <div class="detail-box">
              <h2>
                Upto 10% Off
              </h2>
              <a href="">
                Shop Now
              </a>
            </div>
          </div>
          <div class="box offer-box3">
            <img src="images/aboutimg (4).jpg" alt="">
            <div class="detail-box">
              <h2>
                Upto 20% Off
              </h2>
              <a href="">
                Shop Now
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end offer section -->

  <!-- blog section -->

  <section class="blog_section ">
    <div class="container">
      <div class="heading_container">
        <h2>
          Latest From Blog
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="box">
            <div class="img-box">
              <img src="images/down.img2.jpg" alt="">
              <h4 class="blog_date">
                14 <br>
                July
              </h4>
            </div>
            <div class="detail-box">
              <h5>
                Harmonize the BEAUTY
              </h5>
              <p>
                Explore the latest from our skincare experts, and embark on a journey where every blog post is a step closer to unveiling your skin's true potential. Because at SKINVOGUE, we believe that informed beauty is empowered beauty. Let the exploration begin!"
              </p>
              <a href="">
                Read More
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box">
            <div class="img-box">
              <img src="images/down.img1.jpg" alt="">
              <h4 class="blog_date">
                15 <br>
                July
              </h4>
            </div>
            <div class="detail-box">
              <h5>
                SKINVOGUE Rejuvinate
              </h5>
              <p>
                Are you ready to elevate your skincare game? Join us as we decode the intricacies of self-care, providing you with practical tips and expert advice to make your beauty routine a delightful and rewarding experience
              </p>
              <a href="">
                Read More
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end blog section -->

  <!-- client section -->

  <section class="client_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Testimonial
        </h2>
      </div>
      <div id="carouselExample2Controls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-11 col-lg-10 mx-auto">
                <div class="box">
                  <div class="img-box">
                    <img src="images/anushka.jpg" alt="" />
                  </div>
                  <div class="detail-box">
                    <div class="name">
                      <h6>
                        Anushka Sharma
                      </h6>
                    </div>
                    <p>
                      . I'm proud to endorse SKINVOGUE for anyone seeking a skincare journey that is as unique as they are. Trust me, your skin deserves this indulgence! - [Anushka Sharma]"
                    </p>
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-11 col-lg-10 mx-auto">
                <div class="box">
                  <div class="img-box">
                    <img src="images/samantha.jpg" alt="" />
                  </div>
                  <div class="detail-box">
                    <div class="name">
                      <h6>
                        Samantha Official
                      </h6>
                    </div>
                    <p>
                      I am absolutely thrilled with the transformative power of SKINVOGUE's skincare range! As someone who is constantly in the public eye, taking care of my skin is non-negotiable. SKINVOGUE has become my go-to for radiant, healthy skin.
                    </p>
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-11 col-lg-10 mx-auto">
                <div class="box">
                  <div class="img-box">
                    <img src="images/kajal.jpg" alt="" />
                  </div>
                  <div class="detail-box">
                    <div class="name">
                      <h6>
                        Kajal Aggarwal
                      </h6>
                    </div>
                    <p>
                      Trust me, your skin deserves this indulgence! I'm absolutely loving this site- [Kajal Aggarwal ]"
                    </p>
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel_btn-container">
          <a class="carousel-control-prev" href="#carouselExample2Controls" role="button" data-slide="prev">
            <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExample2Controls" role="button" data-slide="next">
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- end client section -->

  <!-- info section -->
  <section class="info_section layout_padding2">
    <div class="container">
      <div class="row info_form_social_row">
        <div class="col-md-8 col-lg-9">
          <div class="info_form">
            <form action="">
              <input type="email" placeholder="Enter your email">
              <button>
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
              </button>
            </form>
          </div>
        </div>
        <div class="col-md-4 col-lg-3">

          <div class="social_box">
            <a href="">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="row info_main_row">
        <div class="col-md-6 col-lg-3">
          <div class="info_links">
            <h4>
              Menu
            </h4>
            <div class="info_links_menu">
              <a href="index.html">Home</a>
              <a href="about.html">About</a>
              <a href="shop.html">Shop</a>
              <a href="blog.html">Blog</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="info_insta">
            <h4>
              Instagram
            </h4>
            <div class="insta_box">
              <div class="img-box">
                <img src="/images/aboutimg (1).jpg" alt="">
              </div>
              <p>
                long established fact that a reader
              </p>
            </div>
            <div class="insta_box">
              <div class="img-box">
                <img src="images/aboutimg (2).jpg" alt="">
              </div>
              <p>
                long established fact that a reader
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="info_detail">
            <h4>
              About Us
            </h4>
            <p class="mb-0">
              Welcome to SKINVOGUE, where radiant beauty meets expert care. At SKINVOGUE, we are dedicated to unlocking the secrets to healthier, more vibrant skin, empowering you to embrace your natural beauty with confidence. 
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <h4>
            Contact Us
          </h4>
          <div class="info_contact">
            <a href="">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>
                Delhi
              </span>
            </a>
            <a href="">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>
                Call +01 1234567890
              </span>
            </a>
            <a href="">
              <i class="fa fa-envelope"></i>
              <span>
                demo@gmail.com
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->


  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="https://html.design/">skin vogue private limited</a>
      </p>
    </div>
  </footer>
  <!-- footer section -->


  <!-- jQery -->
  <script src="js/jquery-3.4.1.min.js"></script>
  <!-- bootstrap js -->
  <script src="js/bootstrap.js"></script>
  <!-- custom js -->
  <script src="js/custom.js"></script>
  <script>
    window.onload=(e)=>{
      document.getElementById('audio').play()
    }
      </script>

</body>

</html>