<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <link rel="icon" href="images/favicon.png" type="image/gif" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>SKINVOGUE</title>

   <!-- bootstrap core css -->
   <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" />
   <!-- font awesome style -->
   <link href="/stylesheets/font-awesome.min.css" rel="stylesheet">
   <!-- Custom styles for this template -->
   <link href="/stylesheets/style.css" rel="stylesheet">
   <!-- responsive style -->
   <link href="/stylesheets/responsive.css" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
 
 <style>
    .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
            background-color: #ff69b4;
            color: #fff;
        }

        .brand {
            font-weight: bold;
            display: flex;
            align-items: center;
        }

        .brand img {
            margin-right: 10px;
            height: 30px;
        }

        .navbar-links {
            display: flex;
            align-items: center;
        }

 </style>
   
</head>

<body>

  <!-- header section strats -->
  <div class="navbar">
    <div class="brand">
        <img src="/assets/img/logo.png" alt="Logo">
        <div><strong>SKINVOGUE</strong></div>
    </div>
    <div class="navbar-links">
        
       
    </div>
</div>
  <!-- end header section -->

  <!-- shop section -->

  <section class="shop_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Latest Products
        </h2>
      </div>
     
      <div class="row">
          <!-- <div>
            <h3></h3>
            <p></p>
            <! -->
            <!-- <form action="/admin/products/" method="POST">
              <button type="submit">Toggle Listing</button>
            </form>
          </div>
        -->
      <!-- </div> -->
      <% productData.forEach(product => { %>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box">
            <a href="">
              <div class="img-box">
                <a href="/detail/<%= product._id %>"><img src="<%= product.images[0] %>" alt=""></a>
              </div>
              <div class="detail-box">
                <h6>
                  <%= product.productName %>
                </h6>
                <h6>
                  Price
                  <span>
                    $<%= product.productPrice %>
                  </span>
                </h6>
              </div>
              <div class="new">
                <span>
                  New
                </span>
              </div>
            </a>
          </div>
        </div>
        <% }); %>
      </div>
      <div class="btn-box">
        <a href="">
          View All Products
        </a>
      </div>
    </div>
  </section>

  <!-- end shop section -->

  <!-- info section -->
  <section class="info_section layout_padding2">
    <div class="container">
      <div class="row info_form_social_row">
        <div class="col-md-8 col-lg-9">
          <div class="info_form">
            <form action="">
              <input type="email" placeholder="Enter your email">
              <button>
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
              </button>
            </form>
          </div>
        </div>
        <div class="col-md-4 col-lg-3">

          <div class="social_box">
            <a href="">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="row info_main_row">
        <div class="col-md-6 col-lg-3">
          <div class="info_links">
            <h4>
              Menu
            </h4>
            <div class="info_links_menu">
              <a href="index.ejs">Home</a>
              <a href="about.ejs">About</a>
              <a href="shop.ejs">Shop</a>
              <a href="blog.ejs">Blog</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="info_insta">
            <h4>
              Instagram
            </h4>
            <div class="insta_box">
              <div class="img-box">
                <img src="/images/aboutimg (1).jpg" alt="">
              </div>
              <p>
                long established fact that a reader
              </p>
            </div>
            <div class="insta_box">
              <div class="img-box">
                <img src="/images/aboutimg (2).jpg" alt="">
              </div>
              <p>
                long established fact that a reader
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="info_detail">
            <h4>
              About Us
            </h4>
            <p class="mb-0">
              Welcome to SKINVOGUE, where radiant beauty meets expert care. At SKINVOGUE, we are dedicated to unlocking the secrets to healthier, more vibrant skin, empowering you to embrace your natural beauty with confidence. 
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <h4>
            Contact Us
          </h4>
          <div class="info_contact">
            <a href="">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>
                Delhi
              </span>
            </a>
            <a href="">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>
                Call +01 1234567890
              </span>
            </a>
            <a href="">
              <i class="fa fa-envelope"></i>
              <span>
                skinvogue@gmail.com
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->


  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="https://html.design/">skin vogue private kimited</a>
      </p>
    </div>
  </footer>
  <!-- footer section -->


  <!-- jQery -->
  <script src="js/jquery-3.4.1.min.js"></script>
  <!-- bootstrap js -->
  <script src="js/bootstrap.js"></script>
  <!-- custom js -->
  <script src="js/custom.js"></script>

</body>

</html>